.user-product-page{
    width:100%;
    padding:0.5rem;
}

.user-product-page-box{
    display:flex;
    width:100%;
}
.user-product-page-box-a{
    flex:1;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;

}

.user-product-page-box-b{
    flex:1;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;

}

.user-product-page-box-c{
    flex:1;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;

}

@media screen and (max-width: 700px) {
  
  
    .user-product-page-box{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    

  }

.product-little-image-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(85px,1fr));
}

.product-option-name{
    font-family: 'Roboto', sans-serif;
    width:100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    
}

.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 5px;
    background-color: #f79a05; /* Change the color to your preference */
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Hover effect */
  .checkout-btn:hover {
    background-color: #cc8006; /* Change the hover color if desired */
  }
  .checkout-btn:active{
    transform: scale(0.7);
  }

  .add-to-cart-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 5px;
    background-color: #b83202; /* Change the color to your preference */
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Button hover styles */
  .add-to-cart-button:hover {
    background-color: #852503; /* Change this color to your preference */
    color: #fff; /* Change this color to your preference */
  }
  
.add-to-cart-button:active{
    transform: scale(0.7);
}