.password-input{
    display:flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.password-input-box{
    width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.password-input:focus-within {
    box-shadow: #186cf2 0px 2px 8px 0px;
  }
