.product-page{
    padding:0.5rem;
    width:100%;
}

.product-main-box{
    display: flex;
    width:100%;
}

@media screen and (max-width: 599px) {
    .product-main-box{
        display: flex;
        flex-direction: column;
        width:100%;
    }
   
  }

.product-main-box-a{
    padding: 0.5rem;
    flex:1;
    flex-direction: column;
    align-items: center;
   
}

.product-main-box-b{
    padding: 0.5rem;
    flex:1;
    flex-direction: column;
    align-items: center;

}

.create-product-box{
    width:100%;
    flex-direction: column;
    display: flex;
}
.create-variant-box{
    width:100%;
    flex-direction: column;
    display: flex;

}

.custom-upload{
    width:100%;
    border:1px dashed #a0a0a3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:1rem;
    border-radius: 10px;
    background-color: #f5f5f7;
    cursor: pointer;
  }
  .custom-upload:hover{
    border:1px dashed #6353f5;
  }
  .ant-upload-text{
     text-align: center;
     font-size: 1.2rem;
  }
  .ant-upload-hint{
    text-align: center;
    font-size: 1rem;
    color:#9e9da1;
  }

  .add-button {
    background-color: #06d42f;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s;
    /* Adjust margin as needed */
  }
  .add-button:active{
    transform: scale(0.7);
  }
  
  .delete-button {
    margin-left:0.5rem;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .delete-button:active{
    transform: scale(0.7);
  }
